@model IEnumerable<CategoryVM>

<h2>Category List</h2>

<p>
    <a asp-controller="Category" asp-action="CreateCategory">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th style="width:10%">Id</th>
            <th>CategoryName</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td style="float:inline-end">
                    <a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="@item.Id" class="d-none d-sm-inline-flex btn btn-sm btn-primary shadow-sm">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>